body {
  background-color: #01172E;
  color: white;
  width: 100%;
}

#mano {
  position: absolute;
  margin-left: 60px;
  margin-top: 8px;
}

#maleta {
  position: absolute;
  margin-left: 32px;
  margin-top: 8px;
}

#pincel {
  position: absolute;
  margin-left: 40px;
  margin-top: 8px;
}


@media (min-width: 992px){

h3 {
  text-align: justify;
  margin-right: 528px;
  margin-top: 50px;
}

}
