$custom-file-text: (
en: "Browse",
es: "Elegir"
);

body {
  background-color: #01172E;
  color: white;
  width: 100%;
}

#mano {
  position: absolute;
  margin-left: 110px;
  margin-top: 8px;
}

#maleta {
  position: absolute;
  margin-left: 20px;
  margin-top: 8px;
}

#pincel {
  position: absolute;
  margin-left: 88px;
  margin-top: 8px;
}

#navegacion {
  margin-left: 33px;
}

#textonav {
  color: white;
  display: none;
}

h2#parrafo {
  font-family: 'Work Sans', sans-serif;
  margin-top: -400px;
  margin-left: 58px;
  font-size: 25px;
  display: none;
}

h3#titulo {
  font-family: 'Patua One', cursive;
  margin-top: 15px;
}

h4#texto {
  font-family: 'Livvic', sans-serif;
}

h5#texto {
  font-family: 'Livvic', sans-serif;
}

div#registro {
  margin-top: 10px;
}

footer {
  margin-top: -100px;
}

div#cajareg {
  margin-top: -40px;
}

#barracel {
  color: white;
}

#imagenlogo {
  width: 85px;
  height: 25px;
  margin-right: 38px;
  margin-left: -41px;
  margin-top: 2px;
}

#textoregistro {
  margin-top: -100px;
}

@media (min-width: 992px){

h3 {
  text-align: justify;
  margin-right: 200px;
  margin-top: 50px;
}

div.container {
  overflow: hidden;
}

div.col-lg-6 {
  width: 100%;
  float: right;
}

#mano {
  margin-left: 205px;
}

#maleta {
  margin-left: 115px;
}

#pincel {
  margin-left: 183px;
}

#boton {
  margin-left: 290px;
}

#navegacion {
  margin-left: 0px;
}

#textonav {
  display: block;
}

#barracel {
  display: none;
}

#imagenlogo {
  width: 170px;
  height: 50px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

h3#titulo {
  margin-top: 50px;
}

h2#parrafo {
  display: block;
}

div#registro {
  margin-top: -100px;
}

#textoregistro {
  margin-top: 0px;
}

}
