body {
    background-color: #01172E;
    }

.h7 {
      font-size: 0.8rem;
    }

.gedf-wrapper {
      margin-top: 0.97rem;
      }

#textonav {
  color: white;
}

#buscador {
  width: 30px;
}

#iconosnav {
  color: white;
}

#barrabusqueda {
  margin-left: 40px;
}

#imagenlogo {
  width: 85px;
  height: 25px;
  margin-right: 38px;
  margin-left: 0px;
  margin-top: 2px;
}

#fotoperfil {
  margin-bottom: 10px;
}

#publicaciones1 {
  display: none;
}

#publicaciones2 {
  margin-bottom: 10px;
}

#misposts {
  margin-bottom: 10px;
}

#amigosqueseguir {
  display: none;
}

#iconitos {
  font-size: 12px;
}

#barranavegacionpcs {
  display: none;
}

#barracel {
  color: white;
}

@media (min-width: 992px) {
  .gedf-main {
      padding-left: 4rem;
      padding-right: 4rem;
      }
  .gedf-card {
      margin-bottom: 2.77rem;
      }

  #navegacion {
      margin-left: 0px;
      }

  #textonav {
      display: block;
      }

  #imagenlogo {
      width: 170px;
      height: 50px;
      margin-right: 0px;
      margin-left: 0px;
      margin-top: 0px;
      }

    #buscador {
      width: 300px;
      }

    #fotoperfil {
      margin-bottom: 0px;
      }

    #publicaciones1 {
      display: block;
      }

    #publicaciones2 {
      display: none;
    }

    #amigosqueseguir {
      display: block;
    }

    #iconitos {
      font-size: 17px;
    }

    #misposts {
      margin-bottom: 40px;
    }

    #barranavegacionpcs {
      display: flex;
    }

    #barranavegacioncel {
      display: none;
    }
  }

.dropdown-toggle::after {
      content: none;
      display: none;
    }
